IO_LOC "sys_clk" P16;        // 50Mhz
IO_PORT "sys_clk" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=OFF BANK_VCCIO=3.3;

IO_LOC "s0" K16;        // actually S0 on the board
IO_PORT "s0" IO_TYPE=LVCMOS33 PULL_MODE=DOWN DRIVE=OFF BANK_VCCIO=3.3;

//IO_LOC "reset2" U4;        //
//IO_PORT "reset2" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=OFF BANK_VCCIO=3.3;

// HDMI (USB-A side PMOD)
//IO_LOC "tmds_clk_p" H5,J5;
//IO_PORT "tmds_clk_p" IO_TYPE=LVCMOS33D PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
//IO_LOC "tmds_d_p[0]" H8,H7;
//IO_PORT "tmds_d_p[0]" IO_TYPE=LVCMOS33D PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
//IO_LOC "tmds_d_p[1]" G7,G8;
//IO_PORT "tmds_d_p[1]" IO_TYPE=LVCMOS33D PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
//IO_LOC "tmds_d_p[2]" F5,G5;
//IO_PORT "tmds_d_p[2]" IO_TYPE=LVCMOS33D PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "tmds_clk_p" Y22,Y23;
IO_PORT "tmds_clk_p" PULL_MODE=NONE IO_TYPE=LVCMOS33D;
IO_LOC "tmds_d_p[0]" AB24,AC24;
IO_PORT "tmds_d_p[0]" PULL_MODE=NONE IO_TYPE=LVCMOS33D;
IO_LOC "tmds_d_p[1]" V24,W24;
IO_PORT "tmds_d_p[1]" PULL_MODE=NONE IO_TYPE=LVCMOS33D;
IO_LOC "tmds_d_p[2]" AA22,AA23;
IO_PORT "tmds_d_p[2]" PULL_MODE=NONE IO_TYPE=LVCMOS33D;

// SDCard (middle PMOD)
// A11/D2 E11/CMD K11/D0 L5/NC GND 3V3
// A10/D3 E10/CLK L11/D1 K5/NC GND 3V3
IO_LOC "sd_clk" D23;
IO_PORT "sd_clk" PULL_MODE=NONE IO_TYPE=LVCMOS33; 
IO_LOC "sd_cmd" D24;        // MOSI
IO_PORT "sd_cmd" PULL_MODE=NONE IO_TYPE=LVCMOS33;
IO_LOC "sd_dat0" H23;       // MISO
IO_PORT "sd_dat0" PULL_MODE=NONE IO_TYPE=LVCMOS33;
IO_LOC "sd_dat1" J23;       // 1
IO_PORT "sd_dat1" PULL_MODE=NONE IO_TYPE=LVCMOS33;
IO_LOC "sd_dat2" A25;       // 1
IO_PORT "sd_dat2" PULL_MODE=NONE IO_TYPE=LVCMOS33;
IO_LOC "sd_dat3" B25;       // 1
IO_PORT "sd_dat3" PULL_MODE=NONE IO_TYPE=LVCMOS33;

// UART through USB-C port
IO_LOC "UART_RXD" N16;
IO_LOC "UART_TXD" P15;
IO_PORT "UART_RXD" IO_TYPE=LVCMOS33;
IO_PORT "UART_TXD" IO_TYPE=LVCMOS33;

// 128Mbit NOR Flash (MSPI pins)
IO_LOC "flash_spi_cs_n" P18;
IO_PORT "flash_spi_cs_n" PULL_MODE=NONE IO_TYPE=LVCMOS33;
IO_LOC "flash_spi_wp_n" P14;
IO_PORT "flash_spi_wp_n" PULL_MODE=NONE IO_TYPE=LVCMOS33;
IO_LOC "flash_spi_hold_n" N14;
IO_PORT "flash_spi_hold_n" PULL_MODE=NONE IO_TYPE=LVCMOS33;
IO_LOC "flash_spi_mosi" R14;
IO_PORT "flash_spi_mosi" PULL_MODE=NONE IO_TYPE=LVCMOS33;
IO_LOC "flash_spi_miso" R15;
IO_PORT "flash_spi_miso" PULL_MODE=NONE IO_TYPE=LVCMOS33;
IO_LOC "flash_spi_clk" H13;
IO_PORT "flash_spi_clk" PULL_MODE=NONE IO_TYPE=LVCMOS33;

// One on-board USB port
// IO_LOC "usbdp" L6;      
// IO_PORT "usbdp" PULL_MODE=DOWN IO_TYPE=LVCMOS33;
// IO_LOC "usbdm" K6;      
// IO_PORT "usbdm" PULL_MODE=DOWN IO_TYPE=LVCMOS33;
// IO_LOC "usbdp2" 56;     
// IO_PORT "usbdp2" PULL_MODE=DOWN IO_TYPE=LVCMOS33;
// IO_LOC "usbdm2" 54;     
// IO_PORT "usbdm2" PULL_MODE=DOWN IO_TYPE=LVCMOS33;

// Mister SDRAM v3.0 connected through 40-pin port
IO_LOC "IO_sdram_dq[0]" U16;
IO_PORT "IO_sdram_dq[0]" IO_TYPE=LVCMOS33;
IO_LOC "IO_sdram_dq[1]" V16;
IO_PORT "IO_sdram_dq[1]" IO_TYPE=LVCMOS33;
IO_LOC "IO_sdram_dq[2]" U15;
IO_PORT "IO_sdram_dq[2]" IO_TYPE=LVCMOS33;
IO_LOC "IO_sdram_dq[3]" V17;
IO_PORT "IO_sdram_dq[3]" IO_TYPE=LVCMOS33;
IO_LOC "IO_sdram_dq[4]" W21;
IO_PORT "IO_sdram_dq[4]" IO_TYPE=LVCMOS33;
IO_LOC "IO_sdram_dq[5]" Y21;
IO_PORT "IO_sdram_dq[5]" IO_TYPE=LVCMOS33;
IO_LOC "IO_sdram_dq[6]" P21;
IO_PORT "IO_sdram_dq[6]" IO_TYPE=LVCMOS33;
IO_LOC "IO_sdram_dq[7]" U17;
IO_PORT "IO_sdram_dq[7]" IO_TYPE=LVCMOS33;
IO_LOC "IO_sdram_dq[8]" P25;
IO_PORT "IO_sdram_dq[8]" IO_TYPE=LVCMOS33;
IO_LOC "IO_sdram_dq[9]" W23;
IO_PORT "IO_sdram_dq[9]" IO_TYPE=LVCMOS33;
IO_LOC "IO_sdram_dq[10]" T25;
IO_PORT "IO_sdram_dq[10]" IO_TYPE=LVCMOS33;
IO_LOC "IO_sdram_dq[11]" R25;
IO_PORT "IO_sdram_dq[11]" IO_TYPE=LVCMOS33;
IO_LOC "IO_sdram_dq[12]" R23;
IO_PORT "IO_sdram_dq[12]" IO_TYPE=LVCMOS33;
IO_LOC "IO_sdram_dq[13]" T23;
IO_PORT "IO_sdram_dq[13]" IO_TYPE=LVCMOS33;
IO_LOC "IO_sdram_dq[14]" P24;
IO_PORT "IO_sdram_dq[14]" IO_TYPE=LVCMOS33;
IO_LOC "IO_sdram_dq[15]" P23;
IO_PORT "IO_sdram_dq[15]" IO_TYPE=LVCMOS33;

IO_LOC "O_sdram_addr[0]" V19;
IO_PORT "O_sdram_addr[0]" IO_TYPE=LVCMOS33;
IO_LOC "O_sdram_addr[1]" W19;
IO_PORT "O_sdram_addr[1]" IO_TYPE=LVCMOS33;
IO_LOC "O_sdram_addr[2]" U22;
IO_PORT "O_sdram_addr[2]" IO_TYPE=LVCMOS33;
IO_LOC "O_sdram_addr[3]" V22;
IO_PORT "O_sdram_addr[3]" IO_TYPE=LVCMOS33;
IO_LOC "O_sdram_addr[4]" Y25;
IO_PORT "O_sdram_addr[4]" IO_TYPE=LVCMOS33;
IO_LOC "O_sdram_addr[5]" AA25;
IO_PORT "O_sdram_addr[5]" IO_TYPE=LVCMOS33;
IO_LOC "O_sdram_addr[6]" AA24;
IO_PORT "O_sdram_addr[6]" IO_TYPE=LVCMOS33;
IO_LOC "O_sdram_addr[7]" AB25;
IO_PORT "O_sdram_addr[7]" IO_TYPE=LVCMOS33;
IO_LOC "O_sdram_addr[8]" AB26;
IO_PORT "O_sdram_addr[8]" IO_TYPE=LVCMOS33;
IO_LOC "O_sdram_addr[9]" AC26;
IO_PORT "O_sdram_addr[9]" IO_TYPE=LVCMOS33;
IO_LOC "O_sdram_addr[10]" Y20;
IO_PORT "O_sdram_addr[10]" IO_TYPE=LVCMOS33;
IO_LOC "O_sdram_addr[11]" U25;
IO_PORT "O_sdram_addr[11]" IO_TYPE=LVCMOS33;
IO_LOC "O_sdram_addr[12]" U24;
IO_PORT "O_sdram_addr[12]" IO_TYPE=LVCMOS33;

IO_LOC "O_sdram_ba[0]" V26;
IO_PORT "O_sdram_ba[0]" IO_TYPE=LVCMOS33;
IO_LOC "O_sdram_ba[1]" W20;
IO_PORT "O_sdram_ba[1]" IO_TYPE=LVCMOS33;

IO_LOC "O_sdram_dqm[0]" L22;
IO_PORT "O_sdram_dqm[0]" IO_TYPE=LVCMOS33;
IO_LOC "O_sdram_dqm[1]" M24;
IO_PORT "O_sdram_dqm[1]" IO_TYPE=LVCMOS33;

IO_LOC "O_sdram_clk" V23;
IO_PORT "O_sdram_clk" IO_TYPE=LVCMOS33;
IO_LOC "O_sdram_wen_n" Y26;
IO_PORT "O_sdram_wen_n" IO_TYPE=LVCMOS33;
IO_LOC "O_sdram_ras_n" W25;
IO_PORT "O_sdram_ras_n" IO_TYPE=LVCMOS33;
IO_LOC "O_sdram_cas_n" W26;
IO_PORT "O_sdram_cas_n" IO_TYPE=LVCMOS33;
IO_LOC "O_sdram_cs_n" U26;
IO_PORT "O_sdram_cs_n" IO_TYPE=LVCMOS33;

// Joystick 1 on pmod
IO_LOC "ds_clk" R17;
IO_PORT "ds_clk" PULL_MODE=NONE IO_TYPE=LVCMOS33;
IO_LOC "ds_miso" R16;
IO_PORT "ds_miso" PULL_MODE=UP IO_TYPE=LVCMOS33;
IO_LOC "ds_mosi" N26;
IO_PORT "ds_mosi" PULL_MODE=NONE IO_TYPE=LVCMOS33;
IO_LOC "ds_cs"  N18;
IO_PORT "ds_cs" PULL_MODE=NONE IO_TYPE=LVCMOS33;

// Joystick 2 on pmod
IO_LOC "ds_clk2" T24;
IO_PORT "ds_clk2" PULL_MODE=NONE IO_TYPE=LVCMOS33;
IO_LOC "ds_miso2" L24;
IO_PORT "ds_miso2" PULL_MODE=UP IO_TYPE=LVCMOS33;
IO_LOC "ds_mosi2" N17;
IO_PORT "ds_mosi2" PULL_MODE=NONE IO_TYPE=LVCMOS33;
IO_LOC "ds_cs2"  M26;
IO_PORT "ds_cs2" PULL_MODE=NONE IO_TYPE=LVCMOS33;

// 6 LEDs for debug
// IO_LOC "led[5]" N23;
//IO_LOC "led[4]" N21;
//IO_LOC "led[3]" M25;
//IO_LOC "led[2]" L20;
IO_LOC "led[1]" R26;    
IO_LOC "led[0]" J14;   

// IO_PORT "led[5]" IO_TYPE=LVCMOS33 PULL_MODE=NONE;
//IO_PORT "led[4]" IO_TYPE=LVCMOS33 PULL_MODE=NONE;
//IO_PORT "led[3]" IO_TYPE=LVCMOS33 PULL_MODE=NONE;
//IO_PORT "led[2]" IO_TYPE=LVCMOS33 PULL_MODE=NONE;
IO_PORT "led[1]" IO_TYPE=LVCMOS33 PULL_MODE=NONE;
IO_PORT "led[0]" IO_TYPE=LVCMOS33 PULL_MODE=NONE;

